<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>About us</title>
    <link href="/styles/home-style.css" rel="stylesheet">
    <style>
        p{
            background: linear-gradient(30deg, #ffe598, #e5d352);
            padding: 1em;
            /*border-radius: 10px;*/
            text-align: center;
        }
    </style>
</head>
<body>
<div th:replace="fragements/menu"></div>
<p>Isoft is a portfolio Company established in 2022 by <a href="https://github.com/mramz55555">AMZ</a>,and its website source code is in <a href="https://github.com/mramz55555/isoft-corporation">https://github.com/mramz55555/isoft-corporation</a>.
    <br><br><a href="mailto:mramz55555@gmail.com">contact us</a>
</p>
</body>
</html>