<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="/styles/home-style.css"/>
</head>
<body>
<div th:replace="fragements/menu">...</div>

<div id="login-form">
    <div id="header">
        <h1>Login</h1>
    </div>
    <div>
        <section>
            <div class="flight" id="flightbox">
                <p style="background-color: #ff8181" th:if="${error!=null}" th:text="${error}"></p>
                <p style="background-color: #90e59a" th:if="${message!=null}" th:text="${message}"></p>
                <form th:action="@{/public/login}" method="post">

                    <div id="login-div">
                        <div class="arriveDateBox">
                            <label style="color: #00002c;" for="username">EMAIL</label>
                            <input id="username" name="username" style="height: 30px;border:whitesmoke 4px solid;"
                                   type="text"><br><br>
                            <label style="color: #00002c" for="password">PASSWORD</label>
                            <input id="password" name="password" style="height: 30px;border:whitesmoke 4px solid"
                                   type="password"><br><br>
                            <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/><br><br>
                        </div>
                        <a style="color: #15004f" class="new-user" th:href="@{/public/sign-up}">New User ?</a>
                    </div>

                    <div id="flight-search">
                        <div class="arriveDateBox">
                            <input type="submit" id="submit" value="LOGIN"/>
                        </div>
                    </div>

                </form>
            </div>
        </section>
    </div>
</div>
</body>
</html>